:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font-big: 60px;
  --font-medium: 50px;
  --font-normal: 40px;
  --font-small: 20px;
  --animation-duration: 0.5s;

  @media(max-width: 768px) {
    --font-big: 60px;
    --font-medium: 50px;
    --font-normal: 24px;
    --font-small: 20px;
  }
}

html {
  scroll-behavior: smooth; 
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  box-sizing: border-box;
  overflow-x: hidden;

  @media(max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.h1 {
  font-family: 'Merriweather', serif;  
}

.btn {
  min-width: 220px;
  min-height: 55px;
  padding: 8px auto;

  background-color: var(--color-gold);
  cursor: pointer;
  line-height: var(--font2);
  border: none;
  transition: 1s;  
}

.btn:hover {
  color: var(--color-white);
}

.link {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;  

  &:hover {
    color: var(--color-gold);
  }
}

.img-hover {
  transition: 1s;

  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}

.bg {
  background-image: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;

  @media(max-width: 768px) { 
    background-position: -5px -30px;
    background-size: auto 620px;
  }

  @media(max-width: 480px) { 
    background-position: 50% 0;
  }
}

.container {
  max-width: 1440px;
  width: 100%;  
  margin: 0 auto;  

  &--pd {
    padding: 0 20px;

    @media(max-width: 768px) {
      padding: 0 60px;  
    }

    @media(max-width: 480px) { 
      padding: 0 10px;  
    }
  }

  &--nopd-t {
    padding: 0 20px;

    @media(max-width: 768px) {
      padding: 0;  
    }

    @media(max-width: 480px) {
      padding: 0 10px;
    }
  }
}

.header {  
  height: 90px;
  padding-top: 20px;
}

.header-container { 
  display: flex;  
  justify-content: space-between;
  align-items: flex-start;
}

.nav {
  margin-left: auto;
  margin-right: 31px;
  transition-duration: var(--animation-duration);

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media(max-width: 768px) {
      position: fixed;      
      right: -100vw; 
      top: 0; bottom: 0;
      z-index: 20;    

      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
      padding-top: 134px;
      width: calc(100% - 148px);

      padding-left: 127px;
      margin: 0;
      
      background-color: var(--color-black);   
      transition-duration: var(--animation-duration);
    }

 
    @media(max-width: 619px) {
      width: 100%;
      padding-left: 25%;
    }
  }

  &__item {
    list-style: none;
    line-height: var(--font-medium);

    @media(max-width: 768px) {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 73px; 
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-white)
  }

  &--menu {
    
    @media(max-width: 768px) { 
      /* overlay */       
      position: fixed;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 10;              
      margin: 0;
      background-color: rgba(0, 0, 0, 0.5);      
      transition-duration: var(--animation-duration);    

      .nav__list {  
        right: 0;       
      }
    }  
  }
}

.lang {
  display: flex;
  justify-content: space-between;
  width: 70px;
  border: none;
  background-color: transparent;
  line-height: var(--font-medium);
  cursor: pointer;  

  &-active {
    color: var(--color-gold);
  }

  @media(max-width: 768px) {
    width: 82px;
    margin-left: auto;
    margin-right: 20px;
    
    &__div {
      transform: translateX(-5px);
    }
  }
}

.menu {
  display: none;
  visibility: hidden;

  @media(max-width: 768px) {
    display: block;
    visibility: visible;
    margin-right: 4px;

    width: 50px;
    height: 50px;
    padding: 10px 0;
    
    cursor: pointer;
    overflow: hidden;

    span {
      display: block;
      width: 50px;
      height: 3px;
      margin-bottom: 10px;
      position: relative;
      background-color: var(--color-white);
      transition-duration: var(--animation-duration);
    } 

    &--active {    
      display: block;
      visibility: visible;
      position: fixed;
      top: 20px;
      right: 41px;
      z-index: 30;

      span {
        height: 2px;
        width: 65px;
      }
      
      span:first-child {
        transform: rotate(45deg) translateY(18px) translateX(2px);      
      }
      
      span:nth-last-child(2) {
        opacity: 0;
      }

      span:last-child {
        transform: translateY(-12px) translateX(-10px) rotate(135deg);   
      }      
    }     
  } 
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  overflow: hidden;

  &-title-wrap { 
    display: flex;
    justify-content: center;
    // width: calc(100% / 2 + 40px);
    width: 700px;
    margin: 100px auto 60px auto;

    background-image: 
      linear-gradient(to top, 
      var(--color-black) calc(100% / 2 - 1px), 
      var(--color-gold) calc(100% / 2 - 1px), 
      var(--color-gold) calc(100% / 2 + 1px), 
      var(--color-black) calc(100% / 2 + 1px));
    
      @media(max-width: 768px) {
        width: 365px;
        margin: 80px auto 50px auto;
      }
      @media(max-width: 480px) {
        width: calc(100% - 20px);
        margin: 80px auto 50px auto;
      }
  } 

  &-title {
    font-family: Merriweather;
    font-weight: bold;
    font-size: var(--font-normal);
    line-height: 80px;
    color: var(--color-gold);
    background-color: var(--color-black);
    padding: 0 20px;

    @media(max-width: 768px) {
      font-size: 32px;
    }
  }
}

.hero {  

  &-content {
    width: 525px;
    padding-top: 120px;
    padding-left: 60px;
    padding-bottom: 330px;

    @media(max-width: 768px) {
      width: 390px;
      padding-top: 58px;
      padding-left: 0;
      padding-bottom: 150px;
    }

    @media(max-width: 480px) {
      width: 100%;
    }
  }

  &__title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    margin-bottom: 10px;
    
    @media(max-width: 768px) {
      font-size: 32px;
      line-height: 64px;
      margin-bottom: 20px;
    }
  }

  &__text {
    @media(max-width: 768px) {
      line-height: 24px;
    }
  }

  &__btn {
    margin-top: 25px;
    padding-left: 76px;
    padding-right: 73px;

    @media(max-width: 768px) {
      margin-top: 60px;
    }
  }
}

.skills {
  .section-title-wrap {
    @media(max-width: 768px) {
      margin-bottom: 36px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    @media(max-width: 768px) {
      padding-top: 9px;
      padding-bottom: 40px;
      row-gap: 36px;
      column-gap: 44px;
    }
  }

  &__item {
    min-height: 242px;
    width: 320px;
    list-style: none;

    @media(max-width: 768px) {
      min-height: 224px;
      width: 300px;      
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__name { 
    font-family: Inter;
    font-size: var(--font-small);
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 40px;
  }

  &__desc {
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;    

    @media(max-width: 768px) {
      line-height: 22px;
      padding: 0 10px;
    }
  }
}

.portfolio {
  &-btns-list {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    list-style: none;    
    padding-bottom: 60px;
    gap: 5px;
  }

  &-btns-item {
    // margin-right: 5px;
  }

  &-btns {
    border: 2px solid var(--color-gold);
    color: var(--color-gold);
    background-color: var(--color-black);
  }

  &-btns--active {
    color: var(--color-black);
    background-color: var(--color-gold) 
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  &-img {
    @media(max-width: 480px) {
      width: 100%;
    }
  }
}

.video {
  &__player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;

    background: url("../assets/img/video-player.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 768px) {
      height: 418px;
      background-position-x: -5px;
    }
    @media(max-width: 480px) {
      width: 100%;
      // height: auto;
      background-position: 30% 0;
    }
  }

  &__btn {
    img {
      width: 130px;
      height: 130px;
      
      @media(max-width: 768px) {
        width: 64px;
        height: 64px;
      }
    }
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.price { 
  padding-bottom: 100px;

  @media(max-width: 768px) {
    padding-bottom: 80px;
  }
}

.prices-list {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  gap: 25px;

  @media(max-width: 768px) {
    gap: 50px;
  }
}

.prices-item {
  width: 450px;
  height: 505px;  
  list-style: none;
  border: 3px solid var(--color-gold);
  padding-top: 43px;
  text-align: center;

  @media(max-width: 768px) {
    width: 420px;
  }
}

.price-header {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 20px;
}

.price-sum {
  display: block;
  color: var(--color-gold);
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 20px;
}

.price-desc-list {
  padding: 0;
  padding-bottom: 37px;
  list-style: none;
}
.price-desc-item {
  font-size: 18px;
  line-height: 36px;
}

.price-order {
  padding: 8px 20px;
}

.price-item {
}

.contacts {
  // position: relative;
  display: flex;
  justify-content: flex-end;

  background-image: url("../assets/img/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media(max-width: 768px) {
    justify-content: center;
  }
  @media(max-width: 480px) {
    background-position: 30% 0;
  }
 
  &-content {
    margin-right: 20px;
    margin-top: 60px;
    padding-bottom: 195px;

    @media(max-width: 768px) {
      margin-right: 0;
      padding-bottom: 112px;
    }
  }

  &-content .section-title {
    background-color: transparent;
    padding-bottom: 40px;
    padding-left: 0;

    @media(max-width: 768px) {
      text-align: center;
      line-height: 64px;
      padding-right: 0;
    }
  }
}

.contact {
  min-width: 450px;  
  display: flex;
  flex-direction: column;

  @media(max-width: 480px) {
    min-width: 100%;
  }

  & label {
    display: none;
  }

  & input,
  & textarea {
    display: block;
    width: 100%;
    border: 2px solid var(--color-gold);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 20px;
    color: var(--color-white);
    font-size: 20px;
    line-height: 40px;
  }

  & *::placeholder {
    color: var(--color-gold);
  }

  &-email {
    margin-bottom: 20px;
  }

  &-phone {
    margin-bottom: 20px;
  }

  &-message {
    margin-bottom: 30px;
    min-height: 100px;
  }

  .contact-submit {
    margin-right: auto;

    @media(max-width: 768px) {
      margin: 0 auto;
    }
  }
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  line-height: 50px;

  @media(max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 28px;
    line-height: 42px;
  }
}

.credits {
  span {
    margin-right: 15px;
  }

  @media(max-width: 768px) {
    margin-left: 13px;
  }  
}

.created {
}

.social__list {
  padding-top: 10px;
  display: flex;
  list-style: none;
  gap: 20px;
    
  @media(max-width: 768px) {
    padding-top: 20px;
  }
}

.social__link {  
}

.social__img {
  display: block;
  width: 32px;
  height: 32px;
}

.social__img--ins {
  background-image: url("../assets/svg/social-ins.svg");
  background-repeat: no-repeat;
}

.social__img--fb {
  background-image: url("../assets/svg/social-fb.svg");
  background-repeat: no-repeat;
}

.social__img--tw {
  background-image: url("../assets/svg/social-tw.svg");
  background-repeat: no-repeat;
}

.social__img--pin {
  background-image: url("../assets/svg/social-pin.svg");
  background-repeat: no-repeat;
}