:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font-big: 60px;
  --font-medium: 50px;
  --font-normal: 40px;
  --font-small: 20px;
}
@media (max-width: 768px) {
  :root {
    --font-big: 60px;
    --font-medium: 50px;
    --font-normal: 24px;
    --font-small: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  body {
    font-size: 20px;
    line-height: 24px;
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.h1 {
  font-family: "Merriweather", serif;
}

.btn {
  min-width: 220px;
  min-height: 55px;
  padding: 8px auto;
  background-color: var(--color-gold);
  cursor: pointer;
  line-height: var(--font2);
  border: none;
  transition: 1s;
}

.btn:hover {
  color: var(--color-white);
}

.link {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
}
.link:hover {
  color: var(--color-gold);
}

.img-hover {
  transition: 1s;
}
.img-hover:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.bg {
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0, center bottom 150px;
}
@media (max-width: 768px) {
  .bg {
    background-position: -5px -30px, center bottom 150px;
    background-size: auto 620px, auto;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.container--pd {
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container--pd {
    padding: 0 60px;
  }
}

.header {
  height: 90px;
  padding-top: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav {
  margin-left: auto;
  margin-right: 31px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.nav__item {
  list-style: none;
  line-height: var(--font-medium);
}
.nav__link {
  text-decoration: none;
  color: var(--color-white);
}

.lang {
  display: flex;
  justify-content: space-between;
  width: 70px;
  border: none;
  background-color: transparent;
  line-height: var(--font-medium);
  cursor: pointer;
}
.lang-active {
  color: var(--color-gold);
}

@media (max-width: 768px) {
  .nav {
    order: 2;
    background-image: url("../assets/svg/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 3px;
  }

  .nav__list {
    display: none;
  }

  .lang {
    margin-left: auto;
  }
  .lang__div {
    margin-right: 15px;
  }
  .lang__ru {
    margin-right: 11px;
  }
}
.main {
  display: flex;
  flex-direction: column;
}

.section {
  overflow: hidden;
}
.section-title-wrap {
  display: flex;
  justify-content: center;
  width: 700px;
  margin: 100px auto 60px auto;
  background-image: linear-gradient(to top, var(--color-black) calc(50% - 1px), var(--color-gold) calc(50% - 1px), var(--color-gold) calc(50% + 1px), var(--color-black) calc(50% + 1px));
}
@media (max-width: 768px) {
  .section-title-wrap {
    width: 365px;
    margin: 80px auto 50px auto;
  }
}
.section-title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: var(--font-normal);
  line-height: 80px;
  color: var(--color-gold);
  background-color: var(--color-black);
  padding: 0 20px;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}

.hero-content {
  width: 525px;
  padding-top: 120px;
  padding-left: 60px;
  padding-bottom: 330px;
}
@media (max-width: 768px) {
  .hero-content {
    width: 390px;
    padding-top: 58px;
    padding-left: 0;
    padding-bottom: 150px;
  }
}
.hero__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .hero__text {
    line-height: 24px;
  }
}
.hero__btn {
  margin-top: 25px;
  padding-left: 76px;
  padding-right: 73px;
}
@media (max-width: 768px) {
  .hero__btn {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .skills .section-title-wrap {
    margin-bottom: 36px;
  }
}
.skills__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 768px) {
  .skills__list {
    padding-top: 9px;
    padding-bottom: 40px;
    row-gap: 36px;
    column-gap: 44px;
  }
}
.skills__item {
  min-height: 242px;
  width: 320px;
  list-style: none;
}
@media (max-width: 768px) {
  .skills__item {
    min-height: 224px;
    width: 300px;
  }
}
.skills__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .skills__icon {
    margin-bottom: 30px;
  }
}
.skills__name {
  font-family: Inter;
  font-size: var(--font-small);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 40px;
}
.skills__desc {
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .skills__desc {
    line-height: 22px;
    padding: 0 10px;
  }
}

.portfolio-btns-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 60px;
  gap: 5px;
}
.portfolio-btns {
  border: 2px solid var(--color-gold);
  color: var(--color-gold);
  background-color: var(--color-black);
}
.portfolio-btns--active {
  color: var(--color-black);
  background-color: var(--color-gold);
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 705px;
  background: url("../assets/img/video-player.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .video__player {
    height: 418px;
    background-position-x: -5px;
  }
}
.video__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.video__btn img {
  width: 130px;
  height: 130px;
}
@media (max-width: 768px) {
  .video__btn img {
    width: 64px;
    height: 64px;
  }
}

.price {
  padding-bottom: 100px;
}

.prices-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 768px) {
  .prices-list {
    gap: 50px;
  }
}

.prices-item {
  width: 450px;
  height: 505px;
  list-style: none;
  border: 3px solid var(--color-gold);
  padding-top: 43px;
  text-align: center;
}
@media (max-width: 768px) {
  .prices-item {
    width: 420px;
  }
}

.price-header {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 20px;
}

.price-sum {
  display: block;
  color: var(--color-gold);
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 20px;
}

.price-desc-list {
  padding: 0;
  padding-bottom: 37px;
  list-style: none;
}

.price-desc-item {
  font-size: 18px;
  line-height: 36px;
}

.price-order {
  padding: 8px 20px;
}

.contacts {
  position: relative;
  min-height: 700px;
  display: flex;
  justify-content: flex-end;
  background-image: url("../assets/img/contacts-bg.jpg");
}
@media (max-width: 768px) {
  .contacts {
    justify-content: center;
  }
}
.contacts-content {
  margin-right: 20px;
  margin-top: 60px;
}
.contacts-content .section-title {
  background-color: transparent;
  padding-bottom: 40px;
  padding-left: 0;
}
@media (max-width: 768px) {
  .contacts-content .section-title {
    text-align: center;
  }
}

.contact {
  min-width: 450px;
}
.contact input, .contact textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--color-gold);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 20px;
  color: var(--color-gold);
  line-height: var(--font-normal);
}
.contact *::placeholder {
  color: var(--color-gold);
}
.contact-email {
  margin-bottom: 20px;
}
.contact-phone {
  margin-bottom: 20px;
}
.contact-message {
  margin-bottom: 30px;
  min-height: 100px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  line-height: 50px;
}

.credits span {
  margin-right: 15px;
}

.social__list {
  padding-top: 10px;
  display: flex;
  list-style: none;
  gap: 20px;
}

.social__img {
  display: block;
  width: 32px;
  height: 32px;
}

.social__img--ins {
  background-image: url("../assets/svg/social-ins.svg");
  background-repeat: no-repeat;
}

.social__img--fb {
  background-image: url("../assets/svg/social-fb.svg");
  background-repeat: no-repeat;
}

.social__img--tw {
  background-image: url("../assets/svg/social-tw.svg");
  background-repeat: no-repeat;
}

.social__img--pin {
  background-image: url("../assets/svg/social-pin.svg");
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
