:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font-big: 60px;
  --font-medium: 50px;
  --font-normal: 40px;
  --font-small: 20px;

  @media(max-width: 768px) {
    --font-big: 60px;
    --font-medium: 50px;
    --font-normal: 24px;
    --font-small: 20px;
  }
}



html {
  scroll-behavior: smooth; 
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  box-sizing: border-box;

  @media(max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }

}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.h1 {
  font-family: 'Merriweather', serif;  
}

.btn {
  min-width: 220px;
  min-height: 55px;
  padding: 8px auto;

  background-color: var(--color-gold);
  cursor: pointer;
  line-height: var(--font2);
  border: none;
  transition: 1s;  
}

.btn:hover {
  color: var(--color-white);
}

.link {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;  
}

.link:hover {
  color: var(--color-gold);
}

.img-hover {
  transition: 1s;
}

.img-hover:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.bg {
  background-image: url('../assets/img/header-bg.jpg'), url('../assets/img/contacts-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0, center bottom 150px;

  @media(max-width: 768px) { 
    background-position: -5px -30px, center bottom 150px;
    background-size: auto 620px, auto;
  }
}

.container {
  max-width: 1440px;
  width: 100%;  
  margin: 0 auto;
  padding: 0 20px;
  
  @media(max-width: 1440px) {

  }

  @media(max-width: 768px) {
    padding: 0 60px;  
  }
}

.header {  
  height: 90px;
  padding-top: 20px;
}

.header-container { 
  display: flex;  
  justify-content: space-between;
  align-items: flex-start  
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.nav__item {
  list-style: none;
  line-height: var(--font-medium);
}

.nav__link {
  text-decoration: none;
  color: var(--color-white)
}

.lang {
  border: none;
  background-color: transparent;
  color: white;
  line-height: var(--font-medium);
  margin-left: 34px;
  cursor: pointer;

  &__div{
    margin-right: 9px;
  }

  &__ru {
    margin-right: 9px;
  }
}

.lang-active {
  color: var(--color-gold);
}

@media(max-width: 768px) {
  .nav {
    order: 2;
    background-image: url('../assets/svg/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 3px;
  }

  .nav__list {
    display: none;
  }

  .lang {
    margin-left: auto;

    &__div{
      margin-right: 15px;
    }

    &__ru {
      margin-right: 11px;
    }
  }
}


.main {
  display: flex;
  flex-direction: column;
}

.section {
  overflow: hidden;
  display: flex;
}

.section-title-wrap { 
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 100px auto 60px auto;
  background-image: 
    linear-gradient(to top, 
    var(--color-black) 39px, 
    var(--color-gold) 39px, 
    var(--color-gold) 41px, 
    var(--color-black) 41px);
}

.section-title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: var(--font-normal);
  line-height: 80px;
  color: var(--color-gold);
  background-color: var(--color-black);
  padding: 0 20px;
}

.hero-content {
  width: 525px;
  padding-top: 120px;
  padding-left: 60px;
  padding-bottom: 332px;

  @media(max-width: 768px) {
    // height: 590px;
    width: 390px;
    padding-top: 58px;
    padding-left: 0;
    padding-bottom: 58px;
  }
}

.hero__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  margin-bottom: 10px;
  
  @media(max-width: 768px) {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 20px;
  }
}

.hero__text {
  @media(max-width: 768px) {
    line-height: 24px;
  }
}

.hero__btn {
  margin-top: 25px;
  padding-left: 76px;
  padding-right: 73px;

  @media(max-width: 768px) {
    margin-top: 60px;
  }
}

.skills__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__item {
  min-height: 240px;
  width: 320px;
  list-style: none;
}

.skills__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.skills__name { 
  font-size: var(--font-small);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills__desc {
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}

.portfolio {
}

.portfolio-btns-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.portfolio-btns-item {
  margin-right: 5px;
}

.portfolio-btns {
  border: 2px solid var(--color-gold);
  color: var(--color-gold);
  background-color: var(--color-black);
}

.portfolio-btns--active {
  color: var(--color-black);
  background-color: var(--color-gold) 
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 25px;
}

.portfolio-img {
}

.video {
}

.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 705px;
  background: url("../assets/img/video-player.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
}

.video-btn {
 background: transparent;
 border: none;
 cursor: pointer;
}

.price { 
  padding-bottom: 101px;
}

.prices-list {
  display: flex;
  justify-content: space-between;  
}

.prices-item {
  width: 450px;
  height: 505px;  
  list-style: none;
  border: 3px solid var(--color-gold);
  padding-top: 43px;
  text-align: center;
}

.price-header {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 20px;
}

.price-sum {
  display: block;
  color: var(--color-gold);
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 20px;
}

.price-desc-list {
  padding: 0;
  padding-bottom: 37px;
  list-style: none;
}
.price-desc-item {
  font-size: 18px;
  line-height: 36px;
}

.price-order {
  padding: 8px 20px;
}

.price-item {
}

.contacts {
  position: relative;
  min-height: 700px;
}

.contacts-content {
  position: absolute;
  right: 1px;
  top: 60px;
}

.contacts-content .section-title {
  background-color: transparent;
  padding-bottom: 40px;
  padding-left: 0;
}

.contact {
  min-width: 450px;  
}

.contact label {
  display: none;
}

.contact input,
.contact textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--color-gold);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 20px;
  color: var(--color-gold);
  line-height: var(--font-normal);
}

.contact *::placeholder {
  color: var(--color-gold);
}

.contact-email {
  margin-bottom: 20px;
}

.contact-phone {
  margin-bottom: 20px;
}

.contact-message {
  margin-bottom: 30px;
  min-height: 100px;
}

.contact-submit {
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  line-height: 50px;
}

.credits span {
  margin-right: 15px;
}

.created {
}

.social__list {
  padding-top: 10px;
  display: flex;
  list-style: none;
  gap: 20px;
}

.social__link {  
}

.social__img {
  display: block;
  width: 32px;
  height: 32px;
}

.social__img--ins {
  background-image: url("../assets/svg/social-ins.svg");
  background-repeat: no-repeat;
}

.social__img--fb {
  background-image: url("../assets/svg/social-fb.svg");
  background-repeat: no-repeat;
}

.social__img--tw {
  background-image: url("../assets/svg/social-tw.svg");
  background-repeat: no-repeat;
}

.social__img--pin {
  background-image: url("../assets/svg/social-pin.svg");
  background-repeat: no-repeat;
}