doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./assets/favicon.ico", type="image/x-icon") 
    link(rel="stylesheet", href="style.css")
    title Eco sound
  body 
    header.header         
      nav.nav
        ul.menu-list    
          li.menu-list__item(data-track="0").logo.active             
          li.menu-list__item(data-track="1") Дрозд
          li.menu-list__item(data-track="2") Жаворонок
          li.menu-list__item(data-track="3") Славка
          li.menu-list__item(data-track="4") Соловей
          li.menu-list__item(data-track="5") Зырянка

    main.main 
      .player        

    footer.footer
      ul.footer-list
        li
          a(href="https://github.com/putvr") © 2022 github
        li
          a(href="https://rs.school/js-stage0/", title="Rolling Scopes School")
            img(src="./assets/svg/rss.svg", alt="Rolling Scopes School", width="242" height="60")
    script(src="player.js") 